@import '../../../variables';

.ContentNavContainer {
    display: block;
    width: 100%;
    background-color: map-get($map:$color , $key: background-light);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
}

.NavItem {
    display: inline-block;
    padding: 20px;
    color: map-get($map: $color, $key: primary);
    font-weight: bold;
    box-sizing: border-box;
    text-decoration: none;
}

.NavItem:hover {
    border-bottom: 3px solid map-get($map: $color, $key: primary);
}

.NavItem:active {
    color: map-get($map: $color, $key: primary-light)
}

.ActiveLink {
    border-bottom: 3px solid map-get($map: $color, $key: primary);
}

